cdb2-hub/src/main/resources/wsdl/france/annuaire-2.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.huissier-justice.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.huissier-justice.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service Annuaire CNHJ (Version 2.1)</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.huissier-justice.fr/">
      <s:element name="GetCAByDept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dept" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCAByDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCAByDeptResult" type="tns:CA"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CRID" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRNOM" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRADRESSE" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRCODEPOSTAL" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRVILLE" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRTEL" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRFAX" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CREMAIL" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CROUVERTURE" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRURL" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CRPASSWORD" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ADRESSE1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ADRESSE2" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ListEtudeHdj">
        <s:complexType/>
      </s:element>
      <s:element name="ListEtudeHdjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEtudeHdjResult" type="tns:ArrayOfEtudeHdj"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEtudeHdj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EtudeHdj" nillable="true" type="tns:EtudeHdj"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EtudeHdj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_Etude" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Type_Etude" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Raison_Sociale" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Numero_Libelle_Voie" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Complement_Adresse" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Service_Distribution" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code_Postal" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Ville" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Mail_Etude" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Hdj_Etude" type="tns:ArrayOfHuissierEtude"/>
          <s:element minOccurs="0" maxOccurs="1" name="code_dept" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHuissierEtude">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HuissierEtude" nillable="true" type="tns:HuissierEtude"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="HuissierEtude">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Hdj" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Nom_Hdj" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Prenom_Hdj" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetCRByInsee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insee" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCRByInseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCRByInseeResult" type="tns:CA"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCAByInsee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insee" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCAByInseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCAByInseeResult" type="tns:CA"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCAByTGI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id_TGI" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCAByTGIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCAByTGIResult" type="tns:CA"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTIByInsee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insee" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTIByInseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTIByInseeResult" type="tns:TI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="libelle" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="code_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="adresse_IP" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="accepte_echange" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetTIByTGI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_tgi" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTIByTGIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTIByTGIResult" type="tns:ArrayOfTI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TI" nillable="true" type="tns:TI"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetTGIByInsee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insee" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTGIByInseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTGIByInseeResult" type="tns:TGI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TGI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="libelle" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="accepte_echange" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetTGIByTI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code_ti" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTGIByTIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTGIByTIResult" type="tns:TGI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTGIByCA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_ca" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTGIByCAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTGIByCAResult" type="tns:ArrayOfTGI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTGI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TGI" nillable="true" type="tns:TGI"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetTGIByDept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_departement" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTGIByDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTGIByDeptResult" type="tns:ArrayOfTGI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTGIByHuissier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_huissier" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTGIByHuissierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTGIByHuissierResult" type="tns:ArrayOfTGI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEtudeByCA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_ca" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEtudeByCAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEtudeByCAResult" type="tns:ArrayOfEtudeCA"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEtudeCA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EtudeCA" nillable="true" type="tns:EtudeCA"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EtudeCA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id_etude" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ListEtudeByTI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idTI" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListEtudeByTIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListEtudeByTIResult" type="tns:ArrayOfEtudeCA"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListeEtudeByDept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListeEtudeByDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListeEtudeByDeptResult" type="tns:ArrayOfEtude"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEtude">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Etude" nillable="true" type="tns:Etude"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Etude">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ads1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ads2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ads3" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="cp" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="em1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="em2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="web" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="hor" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="prk" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="met" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="bus" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double"/>
          <s:element minOccurs="0" maxOccurs="1" name="AUDIENCIER_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AUDIENCIER_CA" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Libelle_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code_cour_appel" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Libelle_cour_appel" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ListTGIByEtude">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_etude" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTGIByEtudeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTGIByEtudeResult" type="tns:ArrayOfTGI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListExchangeByEtude">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_etude" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListExchangeByEtudeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListExchangeByEtudeResult" type="tns:ArrayOfTI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListExchangeByHuissier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_huissier" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListExchangeByHuissierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListExchangeByHuissierResult" type="tns:ArrayOfTI"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHuissier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_huissier" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHuissierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHuissierResult" type="tns:Huissier"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Huissier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="civilite" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="fonction" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AUDIENCIER_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AUDIENCIER_CA" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Libelle_TGI" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code_cour_appel" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Libelle_cour_appel" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetHuissierbyChambre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cdid" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHuissierbyChambreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHuissierbyChambreResult" type="tns:ArrayOfHuissier"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHuissier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Huissier" nillable="true" type="tns:Huissier"/>
        </s:sequence>
      </s:complexType>
      <s:element name="IsAudiencier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_huissier" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAudiencierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsAudiencierResult" type="tns:Huissier"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEtudeAudiencier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_etude" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEtudeAudiencierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsEtudeAudiencierResult" type="tns:Etude"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCAByDeptSoapIn">
    <wsdl:part name="parameters" element="tns:GetCAByDept"/>
  </wsdl:message>
  <wsdl:message name="GetCAByDeptSoapOut">
    <wsdl:part name="parameters" element="tns:GetCAByDeptResponse"/>
  </wsdl:message>
  <wsdl:message name="ListEtudeHdjSoapIn">
    <wsdl:part name="parameters" element="tns:ListEtudeHdj"/>
  </wsdl:message>
  <wsdl:message name="ListEtudeHdjSoapOut">
    <wsdl:part name="parameters" element="tns:ListEtudeHdjResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCRByInseeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCRByInsee"/>
  </wsdl:message>
  <wsdl:message name="GetCRByInseeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCRByInseeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCAByInseeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCAByInsee"/>
  </wsdl:message>
  <wsdl:message name="GetCAByInseeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCAByInseeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCAByTGISoapIn">
    <wsdl:part name="parameters" element="tns:GetCAByTGI"/>
  </wsdl:message>
  <wsdl:message name="GetCAByTGISoapOut">
    <wsdl:part name="parameters" element="tns:GetCAByTGIResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTIByInseeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTIByInsee"/>
  </wsdl:message>
  <wsdl:message name="GetTIByInseeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTIByInseeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTIByTGISoapIn">
    <wsdl:part name="parameters" element="tns:GetTIByTGI"/>
  </wsdl:message>
  <wsdl:message name="GetTIByTGISoapOut">
    <wsdl:part name="parameters" element="tns:GetTIByTGIResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByInseeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTGIByInsee"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByInseeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTGIByInseeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByTISoapIn">
    <wsdl:part name="parameters" element="tns:GetTGIByTI"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByTISoapOut">
    <wsdl:part name="parameters" element="tns:GetTGIByTIResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByCASoapIn">
    <wsdl:part name="parameters" element="tns:GetTGIByCA"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByCASoapOut">
    <wsdl:part name="parameters" element="tns:GetTGIByCAResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByDeptSoapIn">
    <wsdl:part name="parameters" element="tns:GetTGIByDept"/>
  </wsdl:message>
  <wsdl:message name="GetTGIByDeptSoapOut">
    <wsdl:part name="parameters" element="tns:GetTGIByDeptResponse"/>
  </wsdl:message>
  <wsdl:message name="ListTGIByHuissierSoapIn">
    <wsdl:part name="parameters" element="tns:ListTGIByHuissier"/>
  </wsdl:message>
  <wsdl:message name="ListTGIByHuissierSoapOut">
    <wsdl:part name="parameters" element="tns:ListTGIByHuissierResponse"/>
  </wsdl:message>
  <wsdl:message name="ListEtudeByCASoapIn">
    <wsdl:part name="parameters" element="tns:ListEtudeByCA"/>
  </wsdl:message>
  <wsdl:message name="ListEtudeByCASoapOut">
    <wsdl:part name="parameters" element="tns:ListEtudeByCAResponse"/>
  </wsdl:message>
  <wsdl:message name="ListEtudeByTISoapIn">
    <wsdl:part name="parameters" element="tns:ListEtudeByTI"/>
  </wsdl:message>
  <wsdl:message name="ListEtudeByTISoapOut">
    <wsdl:part name="parameters" element="tns:ListEtudeByTIResponse"/>
  </wsdl:message>
  <wsdl:message name="ListeEtudeByDeptSoapIn">
    <wsdl:part name="parameters" element="tns:ListeEtudeByDept"/>
  </wsdl:message>
  <wsdl:message name="ListeEtudeByDeptSoapOut">
    <wsdl:part name="parameters" element="tns:ListeEtudeByDeptResponse"/>
  </wsdl:message>
  <wsdl:message name="ListTGIByEtudeSoapIn">
    <wsdl:part name="parameters" element="tns:ListTGIByEtude"/>
  </wsdl:message>
  <wsdl:message name="ListTGIByEtudeSoapOut">
    <wsdl:part name="parameters" element="tns:ListTGIByEtudeResponse"/>
  </wsdl:message>
  <wsdl:message name="ListExchangeByEtudeSoapIn">
    <wsdl:part name="parameters" element="tns:ListExchangeByEtude"/>
  </wsdl:message>
  <wsdl:message name="ListExchangeByEtudeSoapOut">
    <wsdl:part name="parameters" element="tns:ListExchangeByEtudeResponse"/>
  </wsdl:message>
  <wsdl:message name="ListExchangeByHuissierSoapIn">
    <wsdl:part name="parameters" element="tns:ListExchangeByHuissier"/>
  </wsdl:message>
  <wsdl:message name="ListExchangeByHuissierSoapOut">
    <wsdl:part name="parameters" element="tns:ListExchangeByHuissierResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHuissierSoapIn">
    <wsdl:part name="parameters" element="tns:GetHuissier"/>
  </wsdl:message>
  <wsdl:message name="GetHuissierSoapOut">
    <wsdl:part name="parameters" element="tns:GetHuissierResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHuissierbyChambreSoapIn">
    <wsdl:part name="parameters" element="tns:GetHuissierbyChambre"/>
  </wsdl:message>
  <wsdl:message name="GetHuissierbyChambreSoapOut">
    <wsdl:part name="parameters" element="tns:GetHuissierbyChambreResponse"/>
  </wsdl:message>
  <wsdl:message name="IsAudiencierSoapIn">
    <wsdl:part name="parameters" element="tns:IsAudiencier"/>
  </wsdl:message>
  <wsdl:message name="IsAudiencierSoapOut">
    <wsdl:part name="parameters" element="tns:IsAudiencierResponse"/>
  </wsdl:message>
  <wsdl:message name="IsEtudeAudiencierSoapIn">
    <wsdl:part name="parameters" element="tns:IsEtudeAudiencier"/>
  </wsdl:message>
  <wsdl:message name="IsEtudeAudiencierSoapOut">
    <wsdl:part name="parameters" element="tns:IsEtudeAudiencierResponse"/>
  </wsdl:message>
  <wsdl:portType name="Annuaire_x0020_v2Soap">
    <wsdl:operation name="GetCAByDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la cour d'appel dont dépend le département passé en paramètre.</wsdl:documentation>
      <wsdl:input message="tns:GetCAByDeptSoapIn"/>
      <wsdl:output message="tns:GetCAByDeptSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeHdj">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des études non fermées avec les huissiers associés.</wsdl:documentation>
      <wsdl:input message="tns:ListEtudeHdjSoapIn"/>
      <wsdl:output message="tns:ListEtudeHdjSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCRByInsee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la cour d'appel dont dépend la commune passée en paramètre.</wsdl:documentation>
      <wsdl:input message="tns:GetCRByInseeSoapIn"/>
      <wsdl:output message="tns:GetCRByInseeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCAByInsee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la cour d'appel dont dépend la commune passée en paramètre.</wsdl:documentation>
      <wsdl:input message="tns:GetCAByInseeSoapIn"/>
      <wsdl:output message="tns:GetCAByInseeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCAByTGI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la cour d'appel dont dépend la commune passée en paramètre.</wsdl:documentation>
      <wsdl:input message="tns:GetCAByTGISoapIn"/>
      <wsdl:output message="tns:GetCAByTGISoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTIByInsee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir le tribunal d'instance dont dépend une commune.</wsdl:documentation>
      <wsdl:input message="tns:GetTIByInseeSoapIn"/>
      <wsdl:output message="tns:GetTIByInseeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTIByTGI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des tribunaux d’instance qui dépendent du TGI passé en paramètre.</wsdl:documentation>
      <wsdl:input message="tns:GetTIByTGISoapIn"/>
      <wsdl:output message="tns:GetTIByTGISoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByInsee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir le tribunal de grande instance dont dépend une commune.</wsdl:documentation>
      <wsdl:input message="tns:GetTGIByInseeSoapIn"/>
      <wsdl:output message="tns:GetTGIByInseeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByTI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir le tribunal de grande instance dont dépend un tribunal d'instance.</wsdl:documentation>
      <wsdl:input message="tns:GetTGIByTISoapIn"/>
      <wsdl:output message="tns:GetTGIByTISoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByCA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des tribunaux de grande instance d'une cour d'appel.</wsdl:documentation>
      <wsdl:input message="tns:GetTGIByCASoapIn"/>
      <wsdl:output message="tns:GetTGIByCASoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des tribunaux de grande instance (TGI) qui dépendent du département passé en paramètre (Code département en numérique. Exemples : AIN 1, Guadeloupe 971.</wsdl:documentation>
      <wsdl:input message="tns:GetTGIByDeptSoapIn"/>
      <wsdl:output message="tns:GetTGIByDeptSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListTGIByHuissier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir le tribunal de grande instance (ou les TGI) dont dépend un huissier.</wsdl:documentation>
      <wsdl:input message="tns:ListTGIByHuissierSoapIn"/>
      <wsdl:output message="tns:ListTGIByHuissierSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeByCA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des études appartement à un tribunal de grande d'instance donné.</wsdl:documentation>
      <wsdl:input message="tns:ListEtudeByCASoapIn"/>
      <wsdl:output message="tns:ListEtudeByCASoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeByTI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des études appartement à un tribunal d'instance donné.</wsdl:documentation>
      <wsdl:input message="tns:ListEtudeByTISoapIn"/>
      <wsdl:output message="tns:ListEtudeByTISoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListeEtudeByDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des études appartement à un département.</wsdl:documentation>
      <wsdl:input message="tns:ListeEtudeByDeptSoapIn"/>
      <wsdl:output message="tns:ListeEtudeByDeptSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListTGIByEtude">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la liste des études qui dépende d'une Cour d'Appel.</wsdl:documentation>
      <wsdl:input message="tns:ListTGIByEtudeSoapIn"/>
      <wsdl:output message="tns:ListTGIByEtudeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListExchangeByEtude">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir les tribunaux d'instance dans la compétence de l'huissier de justice et de connaître ceux qui permettent l'échange.</wsdl:documentation>
      <wsdl:input message="tns:ListExchangeByEtudeSoapIn"/>
      <wsdl:output message="tns:ListExchangeByEtudeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ListExchangeByHuissier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir les tribunaux d'instance dans la compétence de l'étude de l'huissier de justice et de connaître ceux qui permettent l'échange.</wsdl:documentation>
      <wsdl:input message="tns:ListExchangeByHuissierSoapIn"/>
      <wsdl:output message="tns:ListExchangeByHuissierSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetHuissier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet d'obtenir la référence unique d'un utilisateur e-huissier.</wsdl:documentation>
      <wsdl:input message="tns:GetHuissierSoapIn"/>
      <wsdl:output message="tns:GetHuissierSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetHuissierbyChambre">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">condition que les paramètres passés dans la méthode getHuissier intègrent l’adresse email de ce dernier, cette méthode permet de récupérer les adresses email des huissiers selon leur chambre départemental.</wsdl:documentation>
      <wsdl:input message="tns:GetHuissierbyChambreSoapIn"/>
      <wsdl:output message="tns:GetHuissierbyChambreSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="IsAudiencier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet de savoir si un huissier de justice est audiencier et sur quelle(s)s juridiction(s). Cette méthode est appelée depuis le portail « e-huissier » lorsqu’un Huissier de Justice tente d’accéder au module « e-palais ».</wsdl:documentation>
      <wsdl:input message="tns:IsAudiencierSoapIn"/>
      <wsdl:output message="tns:IsAudiencierSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="IsEtudeAudiencier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet de savoir si une étude est audiencier et sur quelle(s)s juridiction(s). Cette méthode est appelée depuis le portail « e-huissier » lorsqu’un Huissier de Justice tente d’accéder au module « e-palais ».</wsdl:documentation>
      <wsdl:input message="tns:IsEtudeAudiencierSoapIn"/>
      <wsdl:output message="tns:IsEtudeAudiencierSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Annuaire_x0020_v2Soap" type="tns:Annuaire_x0020_v2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCAByDept">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetCAByDept" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeHdj">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListEtudeHdj" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRByInsee">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetCRByInsee" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCAByInsee">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetCAByInsee" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCAByTGI">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetCAByTGI" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTIByInsee">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetTIByInsee" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTIByTGI">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetTIByTGI" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByInsee">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetTGIByInsee" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByTI">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetTGIByTI" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByCA">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetTGIByCA" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByDept">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetTGIByDept" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTGIByHuissier">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListTGIByHuissier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeByCA">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListEtudeByCA" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeByTI">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListEtudeByTI" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListeEtudeByDept">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListeEtudeByDept" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTGIByEtude">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListTGIByEtude" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExchangeByEtude">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListExchangeByEtude" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExchangeByHuissier">
      <soap:operation soapAction="http://ws.huissier-justice.fr/ListExchangeByHuissier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuissier">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetHuissier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuissierbyChambre">
      <soap:operation soapAction="http://ws.huissier-justice.fr/GetHuissierbyChambre" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAudiencier">
      <soap:operation soapAction="http://ws.huissier-justice.fr/IsAudiencier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEtudeAudiencier">
      <soap:operation soapAction="http://ws.huissier-justice.fr/IsEtudeAudiencier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Annuaire_x0020_v2Soap12" type="tns:Annuaire_x0020_v2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCAByDept">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetCAByDept" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeHdj">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListEtudeHdj" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRByInsee">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetCRByInsee" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCAByInsee">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetCAByInsee" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCAByTGI">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetCAByTGI" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTIByInsee">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetTIByInsee" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTIByTGI">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetTIByTGI" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByInsee">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetTGIByInsee" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByTI">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetTGIByTI" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByCA">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetTGIByCA" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTGIByDept">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetTGIByDept" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTGIByHuissier">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListTGIByHuissier" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeByCA">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListEtudeByCA" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEtudeByTI">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListEtudeByTI" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListeEtudeByDept">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListeEtudeByDept" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTGIByEtude">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListTGIByEtude" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExchangeByEtude">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListExchangeByEtude" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListExchangeByHuissier">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/ListExchangeByHuissier" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuissier">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetHuissier" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuissierbyChambre">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/GetHuissierbyChambre" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAudiencier">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/IsAudiencier" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEtudeAudiencier">
      <soap12:operation soapAction="http://ws.huissier-justice.fr/IsEtudeAudiencier" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Annuaire_x0020_v2">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Service Annuaire CNHJ (Version 2.1)</wsdl:documentation>
    <wsdl:port name="Annuaire_x0020_v2Soap" binding="tns:Annuaire_x0020_v2Soap">
      <soap:address location="http://ws.huissier-justice.fr/annuaire-2.asmx"/>
    </wsdl:port>
    <wsdl:port name="Annuaire_x0020_v2Soap12" binding="tns:Annuaire_x0020_v2Soap12">
      <soap12:address location="http://ws.huissier-justice.fr/annuaire-2.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>