cdb2-hub/src/main/resources/wsdl/france/france.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://euro.huissier-justice.fr" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://euro.huissier-justice.fr">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://euro.huissier-justice.fr">
            <s:element name="ListeEtudeByInsee">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="insee" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="langueArray" type="tns:ArrayOfString" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="ListeEtudeByInseeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ListeEtudeByInseeResult" type="tns:ArrayOfEtude" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfEtude">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Etude" nillable="true" type="tns:Etude" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="Etude">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ads1" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ads2" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ads3" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="cp" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="em1" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="em2" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="web" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="hor" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="prk" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="met" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="bus" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
                    <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double" />
                    <s:element minOccurs="0" maxOccurs="1" name="lng" type="s:string" />
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ListeEtudeByInseeSoapIn">
        <wsdl:part name="parameters" element="tns:ListeEtudeByInsee" />
    </wsdl:message>
    <wsdl:message name="ListeEtudeByInseeSoapOut">
        <wsdl:part name="parameters" element="tns:ListeEtudeByInseeResponse" />
    </wsdl:message>
    <wsdl:portType name="annuaireSoap">
        <wsdl:operation name="ListeEtudeByInsee">
            <wsdl:input message="tns:ListeEtudeByInseeSoapIn" />
            <wsdl:output message="tns:ListeEtudeByInseeSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="annuaireSoap" type="tns:annuaireSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ListeEtudeByInsee">
            <soap:operation soapAction="http://euro.huissier-justice.fr/ListeEtudeByInsee" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="annuaireSoap12" type="tns:annuaireSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ListeEtudeByInsee">
            <soap12:operation soapAction="http://euro.huissier-justice.fr/ListeEtudeByInsee" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="annuaire">
        <wsdl:port name="annuaireSoap" binding="tns:annuaireSoap">
            <soap:address location="http://euro.huissier-justice.fr/annuaire.asmx" />
        </wsdl:port>
        <wsdl:port name="annuaireSoap12" binding="tns:annuaireSoap12">
            <soap12:address location="http://euro.huissier-justice.fr/annuaire.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>