cdb2-hub/src/main/resources/wsdl/belgium/belgium.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="GDWHDJConsult" targetNamespace="https://www.nkcn-cia.be/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:tns="https://www.nkcn-cia.be/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="BasicHttpBinding_IGDWHDJConsult_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false" />
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict />
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="https://www.nkcn-cia.be/Imports">
            <xsd:import schemaLocation="https://www.nkcn-cia.be/LnxNKCNGDWHDJConsult/GDWHDJConsult.svc?xsd=xsd0" namespace="https://www.nkcn-cia.be/" />
            <xsd:import schemaLocation="https://www.nkcn-cia.be/LnxNKCNGDWHDJConsult/GDWHDJConsult.svc?xsd=xsd1"
                namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
            <xsd:import schemaLocation="https://www.nkcn-cia.be/LnxNKCNGDWHDJConsult/GDWHDJConsult.svc?xsd=xsd2"
                namespace="http://schemas.datacontract.org/2004/07/LnxNKCNGDWHDJConsult" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IGDWHDJConsult_fGetOffices_InputMessage">
        <wsdl:part name="parameters" element="tns:fGetOffices" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetOffices_OutputMessage">
        <wsdl:part name="parameters" element="tns:fGetOfficesResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetOfficesArro_InputMessage">
        <wsdl:part name="parameters" element="tns:fGetOfficesArro" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetOfficesArro_OutputMessage">
        <wsdl:part name="parameters" element="tns:fGetOfficesArroResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCBB_GetOffices_InputMessage">
        <wsdl:part name="parameters" element="tns:fCBB_GetOffices" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCBB_GetOffices_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCBB_GetOfficesResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetOffices_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetOffices" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetOffices_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetOfficesResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsers_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsers" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsers_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsersResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsers_RR_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsers_RR" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsers_RR_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsers_RRResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsers_Name_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsers_Name" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsers_Name_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsers_NameResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetOffice_KBO_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetOffice_KBO" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetOffice_KBO_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetOffice_KBOResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetOffice_OfficeId_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetOffice_OfficeId" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetOffice_OfficeId_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetOffice_OfficeIdResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetArrondissementen_InputMessage">
        <wsdl:part name="parameters" element="tns:fGetArrondissementen" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetArrondissementen_OutputMessage">
        <wsdl:part name="parameters" element="tns:fGetArrondissementenResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsersAndOffice_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsersAndOffice" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetUsersAndOffice_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetUsersAndOfficeResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetRootArrondissementen_InputMessage">
        <wsdl:part name="parameters" element="tns:fGetRootArrondissementen" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetRootArrondissementen_OutputMessage">
        <wsdl:part name="parameters" element="tns:fGetRootArrondissementenResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetOfficesRootArro_InputMessage">
        <wsdl:part name="parameters" element="tns:fGetOfficesRootArro" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fGetOfficesRootArro_OutputMessage">
        <wsdl:part name="parameters" element="tns:fGetOfficesRootArroResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetGDW_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetGDW" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetGDW_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetGDWResponse" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetGDWKandidaten_InputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetGDWKandidaten" />
    </wsdl:message>
    <wsdl:message name="IGDWHDJConsult_fCIA_GetGDWKandidaten_OutputMessage">
        <wsdl:part name="parameters" element="tns:fCIA_GetGDWKandidatenResponse" />
    </wsdl:message>
    <wsdl:portType name="IGDWHDJConsult">
        <wsdl:operation name="fGetOffices">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOffices" message="tns:IGDWHDJConsult_fGetOffices_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesResponse" message="tns:IGDWHDJConsult_fGetOffices_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fGetOfficesArro">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesArro" message="tns:IGDWHDJConsult_fGetOfficesArro_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesArroResponse" message="tns:IGDWHDJConsult_fGetOfficesArro_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCBB_GetOffices">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCBB_GetOffices" message="tns:IGDWHDJConsult_fCBB_GetOffices_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCBB_GetOfficesResponse" message="tns:IGDWHDJConsult_fCBB_GetOffices_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetOffices">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffices" message="tns:IGDWHDJConsult_fCIA_GetOffices_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOfficesResponse" message="tns:IGDWHDJConsult_fCIA_GetOffices_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsers">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers" message="tns:IGDWHDJConsult_fCIA_GetUsers_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsersResponse" message="tns:IGDWHDJConsult_fCIA_GetUsers_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsers_RR">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers_RR" message="tns:IGDWHDJConsult_fCIA_GetUsers_RR_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers_RRResponse" message="tns:IGDWHDJConsult_fCIA_GetUsers_RR_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsers_Name">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers_Name" message="tns:IGDWHDJConsult_fCIA_GetUsers_Name_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers_NameResponse" message="tns:IGDWHDJConsult_fCIA_GetUsers_Name_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetOffice_KBO">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffice_KBO" message="tns:IGDWHDJConsult_fCIA_GetOffice_KBO_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffice_KBOResponse" message="tns:IGDWHDJConsult_fCIA_GetOffice_KBO_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetOffice_OfficeId">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffice_OfficeId" message="tns:IGDWHDJConsult_fCIA_GetOffice_OfficeId_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffice_OfficeIdResponse"
                message="tns:IGDWHDJConsult_fCIA_GetOffice_OfficeId_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fGetArrondissementen">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetArrondissementen" message="tns:IGDWHDJConsult_fGetArrondissementen_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetArrondissementenResponse"
                message="tns:IGDWHDJConsult_fGetArrondissementen_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsersAndOffice">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsersAndOffice" message="tns:IGDWHDJConsult_fCIA_GetUsersAndOffice_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsersAndOfficeResponse"
                message="tns:IGDWHDJConsult_fCIA_GetUsersAndOffice_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fGetRootArrondissementen">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetRootArrondissementen" message="tns:IGDWHDJConsult_fGetRootArrondissementen_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetRootArrondissementenResponse"
                message="tns:IGDWHDJConsult_fGetRootArrondissementen_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fGetOfficesRootArro">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesRootArro" message="tns:IGDWHDJConsult_fGetOfficesRootArro_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesRootArroResponse" message="tns:IGDWHDJConsult_fGetOfficesRootArro_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetGDW">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetGDW" message="tns:IGDWHDJConsult_fCIA_GetGDW_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetGDWResponse" message="tns:IGDWHDJConsult_fCIA_GetGDW_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetGDWKandidaten">
            <wsdl:input wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetGDWKandidaten" message="tns:IGDWHDJConsult_fCIA_GetGDWKandidaten_InputMessage" />
            <wsdl:output wsaw:Action="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetGDWKandidatenResponse"
                message="tns:IGDWHDJConsult_fCIA_GetGDWKandidaten_OutputMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IGDWHDJConsult" type="tns:IGDWHDJConsult">
        <wsp:PolicyReference URI="#BasicHttpBinding_IGDWHDJConsult_policy" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="fGetOffices">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOffices" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fGetOfficesArro">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesArro" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCBB_GetOffices">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCBB_GetOffices" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetOffices">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffices" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsers">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsers_RR">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers_RR" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsers_Name">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsers_Name" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetOffice_KBO">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffice_KBO" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetOffice_OfficeId">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetOffice_OfficeId" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fGetArrondissementen">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fGetArrondissementen" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetUsersAndOffice">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetUsersAndOffice" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fGetRootArrondissementen">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fGetRootArrondissementen" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fGetOfficesRootArro">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fGetOfficesRootArro" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetGDW">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetGDW" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fCIA_GetGDWKandidaten">
            <soap:operation soapAction="https://www.nkcn-cia.be/IGDWHDJConsult/fCIA_GetGDWKandidaten" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GDWHDJConsult">
        <wsdl:port name="BasicHttpBinding_IGDWHDJConsult" binding="tns:BasicHttpBinding_IGDWHDJConsult">
            <soap:address location="https://www.nkcn-cia.be/LnxNKCNGDWHDJConsult/GDWHDJConsult.svc" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>